<div class="mainContainer">
  <div class="mainItemContainer">
    <div class="header">
      <span class="title">McDonald's</span>
      <div class="subTitleContainer">
        <div class="subTitle">
          <span >McMenu</span>
          <img src="./../assets/img/arrow.png" alt="">
        </div>
        <mat-form-field class="example-full-width">
          <input type="text" matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="itemContainer">
      <mat-card *ngFor="let item of productList">
        <mat-card-header>
          <img [src]="item.img" alt="food">
        </mat-card-header>
        <mat-card-content>
          <span class="name">{{item.name}}</span>
          <span class="description">{{item.description}}</span>
          <span class="price">{{item.price}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="register">
    <mat-card>
      <mat-card-header>
        <span class="title">Register Now</span>
        <span class="subTitle">Then select your products!</span>
      </mat-card-header>
      <mat-card-content>
        <div class="button">Register</div>
        <div class="login"><span>Already in Glovo? <a href="#">Login</a></span></div>
      </mat-card-content>
      <mat-card-footer>
        <img src="./../assets/img/glovo.png" alt="">
      </mat-card-footer>
    </mat-card>
  </div>
</div>